<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  

    <h1>INGRESE EL NOMBRE DEL ARTICULO QUE DESEA BUSCAR</h1>



        




    <table class="table">
            <thead>
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Codigo</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">vender</th>
            </tr>
            </thead>
        <tbody>
                   
            {% for contacto in contactos %}
                <tr>
                    <td>{{contacto.0}}</td>
                    <td>{{contacto.1}}</td>
                    <td>{{contacto.2}}</td>
                    <td>{{contacto.3}}</td>
                    <td><a href="/vendido/{{contacto.2}}/{{contacto.1}}"><button type="submit" class="btn btn-primary" style="margin: 1rem;">vendido</button></a></td>
                </tr>
            {%endfor%}
            
            
        </tbody>
    </table>

    
        
   



</body>
</html>